@{
    Layout = null;
}
@using Kentico.Web.Mvc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@inject IPageContextRepository pageContextRepository
@inject ICacheDependenciesStore CacheStore

<!DOCTYPE html>
<html lang="@(System.Threading.Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <environment include="Development">
        @* Defined in gulpfile.js headerJS *@
        <script src="~/js/scripts/jquery-3.5.1.min.js"></script>
        <script src="~/js/scripts/HeaderCustom.js"></script>

        @* Defined in gulpfile.js headerCss *@
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/Custom.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @* Defined in gulpfile.js headerJS *@
        <script src="~/js/bundles/HeaderJS.min.js.gz"></script>

        @* Defined in gulpfile.js headerCss *@
        <link href="~/css/bundles/HeaderStyles.min.css.gz" rel="stylesheet" />
    </environment>

    @RenderSection("head", required: false)

    <page-builder-mode include="Edit">
        <!-- Edit Mode -->
        <page-builder-styles />
        <link href="~/css/EditMode.min.css" rel="stylesheet" />
    </page-builder-mode>
    @*Page builder styles manually added here if needed*@

</head>
<body>
    <header>
        <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@CacheContext.CacheEnabled()">
            @{
                var headerDocResult = await pageContextRepository.GetPageAsync("/MasterPage/Header".ToNodeIdentity());
                if (headerDocResult.TryGetValue(out var headerDoc)){
                     CacheScope.Begin();
                    CacheStore.Store(new string[] { $"documentid|{headerDoc.DocumentID}" });
                    <inlinewidgetpage documentid="@headerDoc.DocumentID" initialize-document-prior="true">
                        <vc:header />
                    </inlinewidgetpage>
                    <cache-dependency cache-keys="@CacheScope.End()" />
                } else {
                    <vc:configuration-helper visible=@(headerDoc == null) mode="Inline" instructions="<strong>No Header Page Found</strong>: Please create a folder `MasterPage` at the root, and add a Header page there with the name `Header`." needs-attention="true" />
                }
            }
        </cache>
        <vc:main-navigation css-class="MainNav" navigation-parent-path="/MasterPage/Navigation" />
    </header>

    @RenderBody()

    <!-- Includes the jQuery Validator for MVC-->
    <script src="~/js/bundles/jqueryval.min.js"></script>

    <script type="text/javascript">
        $.validator.setDefaults({ ignore: null });
    </script>

    <!-- Includes the jQuery Validator for MVC-->
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: null });
    </script>

    <page-builder-mode include="Edit">
        <!-- Edit mode-->
        <page-builder-scripts />
        <script src="~/js/scripts/MyComponentsConfiguration.js"></script>
    </page-builder-mode>
    <page-builder-mode exclude="Edit">
        @* Needed for some of the form stuff, at least used to be *@
        <script src="~/js/scripts/updatableFormHelper.js"></script>
        <script src="~/js/scripts/inputmask.js"></script>
    </page-builder-mode>

    <!-- Javascripts File -->
    <environment include="Development">
        @* Defined in gulpfile.js footerJS *@
        <script src="~/js/jquery.unobtrusive.ajax/jquery-unobtrusive-ajax.min.js"></script>
        <script src="~/js/helpers.js"></script>
        <script src="~/js/Custom.js"></script>
        <script src="~/js/bootstrap/popper.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Development">
        @* Defined in gulpfile.js footerJS *@
        <script src="~/js/bundles/FooterJS.min.js.gz"></script>
    </environment>

    @RenderSection("bottom", required: false)
</body>
</html>