@using Models.InlineEditors
@using Generic.InlineEditors
@model Generic.ViewModels.ImageWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode && Model.ImageType == ImageTypeEnum.Attachment)
{
<div style="min-height: 100px;">
    <vc:image-uploader image-type="@ImageTypeEnum.Attachment" property-name="@nameof(ImageWidgetProperties.ImageGuid)"
                       has-image="@(Model.ImageGuid != default(Guid))" message-position="Center" use-absolute-position="false" />
</div>
}
@if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
{
    <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Alt" class="@Model.CssClass" />
}
