@model Generic.Models.ResetForgotPassword
@{
    ViewBag.Title = "Reset Forgotten Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            <div>@Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-danger col-12", @role = "alert" })</div>
        }
        <h1>Reset Forgotten Password</h1>

        <div class="form-horizontal UserRegistrationForm">
            @Html.HiddenFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Token)
            @Html.ValidationMessageFor(model => model.Token, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reset Password" class="btn btn-primary btn-theme" />
                </div>
            </div>
        </div>
    </div>
}