@model Generic.Models.ForgotPasswordRequest

@{
    ViewBag.Title = "Forgot Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            <div>@Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-danger col-12", @role = "alert" })</div>
        }
        <h1 class="text-center pt-4 pb-2">Forgotten Password</h1>
        <p>Enter the email address of the account and a password reset email will be sent if the account is found.</p>
        <div class="form-horizontal">
            @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
            {
                Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-danger col-12", @role = "alert" });
            }
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Request Password Reset" class="btn btn-primary btn-theme" />
                </div>
            </div>
        </div>
    </div>
}
