@model Generic.Models.NavigationItem
<li data-navpath="@Model.LinkPagePath.ToLowerInvariant()" data-navhref="@Model.LinkHref.ToLowerInvariant()" class="@Model.LinkCSSClass">
    <a title="@Model.LinkAlt" onclick="@Model.LinkOnClick" href="@Model.LinkHref">@Html.Raw(Model.LinkText)</a>
    @if (Model.Children.Count > 0)
    {
        <ul>
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="~/Views/Shared/Navigation/SecondaryNavigationDropdownItem.cshtml" for="@ChildItem" />
            }
        </ul>
    }
</li>
