@model Generic.Models.NavigationItem
@{
    string CurrentPath = (string)ViewData["CurrentPagePath"];
}
<li class="@(Model.IsCurrentPage(CurrentPath) ? "active" : "") @Model.LinkCSSClass">
    <a title="@Model.LinkAlt" onclick="@Model.LinkOnClick" href="@Model.LinkHref">@Html.Raw(Model.LinkText)</a>
    @if (Model.Children.Count > 0)
    {
        <ul>
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="~/Views/Shared/Navigation/SecondaryNavigationDropdownItem.cshtml" for="@ChildItem" view-data="@ViewData" />
            }
        </ul>
    }
</li>
