@model Generic.ViewModels.PageMetaDataViewModel
@inject IUrlHelper UrlHelper
@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        ViewBag.Title = Model.Title;
        <title>@Model.Title</title>
        <meta property="og:title" content="@Model.Title" />
    }
    if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="description" content="@Model.Description">
        <meta property="og:description" content="@Model.Description" />
    }
    if (!string.IsNullOrWhiteSpace(Model.Keywords))
    {
        <meta name="keywords" content="@Model.Keywords">
    }
    if (!string.IsNullOrWhiteSpace(Model.Thumbnail))
    {
        <meta property="og:image" content="@UrlHelper.Content(Model.Thumbnail)" />
    }
}