@{
    Layout = null;
}
@using Kentico.Web.Mvc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@inject PartialWidgetPage.IPartialWidgetPageHelper PWPHelper
@inject ICacheDependenciesStore CacheStore
@inject IStringLocalizer<SharedResources> StringLocalizer
@inject IPageContextRepository pageContextRepository
<!DOCTYPE html>
<html lang="@(System.Threading.Thread.CurrentThread.CurrentCulture.Name.Split('-')[0])">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, added in header so available anywhere -->
    <script src="~/js/scripts/jquery-3.5.1.min.js"></script>
    <environment include="Development">
        <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/Custom.css" rel="stylesheet" />
        <link href="~/css/EditMode.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/HeaderJS.min.js.gz"></script>
        <link href="~/css/bundles/HeaderStyles.min.css.gz" rel="stylesheet" />
    </environment>

    @RenderSection("head", required: false)

    <page-builder-mode include="Edit">
        <!-- Edit Mode -->
        <page-builder-styles />
        <link href="~/css/EditMode.min.css" rel="stylesheet" />
    </page-builder-mode>
    @*Page builder styles manually added here if needed*@

</head>
<body>
    @* Cache Header*@

    <header data-ktc-search-exclude>

        <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@CacheContext.CacheEnabled()">
            @{
                var headerDoc = await pageContextRepository.GetPageAsync("/MasterPage/Header");
                <vc:configuration-helper visible=@(headerDoc == null) mode="@ConfigurationHelperMode.Inline" instructions="<strong>No Header Page Found</strong>: Please create a folder `MasterPage` at the root, and add a Header page there with the name `Header`." needs-attention="true" />
                if (headerDoc != null)
                {
                    CacheScope.Begin();
                    CacheStore.Store(new string[] { $"documentid|{headerDoc.DocumentID}" });
                    <inlinewidgetpage documentid="@headerDoc.DocumentID" initialize-document-prior="true">
                        <vc:header />
                    </inlinewidgetpage>
                    <cache-dependency cache-keys="@CacheScope.End()" />
                }
            }
        </cache>

        @* Cache is on the component itself *@
        <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@CacheContext.CacheEnabled()">
            @{CacheScope.Begin();}
            @* This View Component uses various IRepository calls that are hooked up with MVCCaching, so all dependencies are added to the Store automatically *@
            <vc:main-navigation navigation-parent-path="/MasterPage/Navigation" css-class="MainNav" />
            <cache-dependency cache-keys="@CacheScope.End()" />
        </cache>
        @* This adds javascript to highlight the current nav, this way we don't need a Vary-By on the menu and it can be cached for all pages *@
        <navigation-page-selector parent-class="MainNav" />
    </header>
    @RenderBody()

    <footer data-ktc-search-exclude>
        <cache expires-after="@TimeSpan.FromMinutes(60)" enabled="@CacheContext.CacheEnabled()">
            @{
                var footerDoc = await pageContextRepository.GetPageAsync("/MasterPage/Footer");
                <vc:configuration-helper visible=@(footerDoc == null) mode="@ConfigurationHelperMode.Inline" instructions="<strong>No Footer Page Found</strong>: Please create a folder `MasterPage` at the root, and add a Footer page there with the name `Footer`." needs-attention="true" />
                if (footerDoc != null)
                {
                    CacheScope.Begin();
                    CacheStore.Store(new string[] { $"documentid|{footerDoc.DocumentID}" });
                    <inlinewidgetpage documentid="@footerDoc.DocumentID" initialize-document-prior="true">
                        <vc:footer />
                    </inlinewidgetpage>
                    <cache-dependency cache-keys="@CacheScope.End()" />
                }
            }
        </cache>
    </footer>

    <!-- Includes the jQuery Validator for MVC-->
    <script src="~/js/bundles/jqueryval.min.js"></script>

    <script type="text/javascript">
        $.validator.setDefaults({ ignore: null });
    </script>

    <!-- Includes the AJAX Unobtrusive for MVC -->
    <script src="~/js/bundles/jquery-unobtrusive-ajax.min.js.gz"></script>

    <page-builder-mode include="Edit">
        <!-- Edit mode-->
        <page-builder-scripts />
        <script src="~/js/scripts/MyComponentsConfiguration.js"></script>
    </page-builder-mode>
    <page-builder-mode exclude="Edit">
        @* Needed for some of the form stuff, at least used to be *@
        <script src="~/js/scripts/updatableFormHelper.js"></script>
        <script src="~/js/scripts/inputmask.js"></script>
    </page-builder-mode>

    <!-- Javascripts File -->
    <environment include="Development">
        <script src="~/js/Custom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/FooterJS.min.js.gz"></script>
    </environment>

    @* These are kept out of the minification as they alter the order, and they MUST appear in this order *@
    <script src="~/js/bootstrap/popper.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>

    @RenderSection("bottom", required: false)
</body>
</html>