@using Generic.Components.InlineEditors.ImageUploaderEditor
@using Generic.Components.Widgets.ImageWidget
@model ImageWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode && Model.ImageType == ImageTypeEnum.Attachment)
{
    <div style="min-height: 100px;">
        <vc:image-uploader image-type="@ImageTypeEnum.Attachment" property-name="@nameof(ImageWidgetViewModel.ImageGuid)"
                           has-image="@(Model.ImageGuid != default(Guid))" message-position="Center" use-absolute-position="false" />
    </div>
}
else
{
    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
    {
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Alt" class="@Model.CssClass" />
    }
    else
    {
        <vc:configuration-helper visible="true" instructions="Please configure the widget to select a Media Library Item" needs-attention="false" mode="Inline"/>
    }
}

