@model Navigation.Models.NavigationItem
@if (Model.IsMegaMenu && Model.LinkDocumentID.TryGetValue(out var linkDocId))
{
    <li navitem-class navitem-references navigation-item="Model" class="nav-item dropdown mega-menu">
        <a href="#" class="nav-link dropdown-toggle" title="@Model.LinkAlt" onclick="@Model.LinkOnClick" data-toggle="dropdown">
            @Html.Raw(Model.LinkText)
        </a>
        <div class="dropdown-menu">
            <inlinewidgetpage documentid="@linkDocId" initialize-document-prior="true">
                <vc:partial-navigation />
            </inlinewidgetpage>
        </div>
    </li>
}
else if (Model.Children.Count == 0)
{
    <li navitem-class navitem-references navigation-item="Model">
        <a class="nav-link" navitem-link navigation-item="Model">@Html.Raw(Model.LinkText)</a>
    </li>
}
else
{
    <li navitem-class navitem-references navigation-item="Model" class="nav-item dropdown">
        <a class="nav-link  dropdown-toggle" title="@Model.LinkAlt" href="#" onclick="@Model.LinkOnClick" data-toggle="dropdown">
            @Html.Raw(Model.LinkText)
        </a>
        <ul class="dropdown-menu">
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="~/Components/Navigation/MainNavigation/MainNavigationDropdownItem.cshtml" for="@ChildItem" />
            }
        </ul>
    </li>
}